{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/Page/parting.css">
{% endblock %}


{% block title  %}{% endblock %}

{% block content %}

    <div class="part">
        <h1>Nos partenaires</h1>
        <a href="/marketplace">< Menu principal</a>
        <div class="pPartner">
            <p>Tous nos partenaires sont choisis avec beaucoup de minutie. Une grande attention est portée sur la frabication francaise.</p>
            <p>De plus, nous essayons de choisir des partenaires qui s'inscrivent dans une démarche écoresponsable</p>.
        </div>
        <div class="did">
          <div class="ligne"></div>
        </div>
            <div class="samText">
                <img src="/images/arteck.png" alt="" srcset="" class="cosme">

                <p>Nous avons choisi Arteck, en tant que partenaire constructeur de maison. </p>
                <p>C'est une entreprise française qui travaille le bois.</p>
                <p class="bien">Arteck possède une technologie brevetée résultant de près de 3 années de recherche et de développement : le mur RESPIR®</p>
                <p> est le composant essentiel de l’enveloppe des maisons.</p>
                <p>RESPIR® est composé de trois couches distinctes d’ossature bois. Ce squelette de bois est lui-même rempli d’isolant en laine</p>
                <p> de bois, de densité et d’épaisseurs différentes.</p>

                <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
            </div>

            <div class="samText">



            </div>

            <div class="samText">
                <img src="/images/partenaire2.png" alt="" srcset="" class="cosme">

                <p>La maison Duvivier Canapés fabrique 1840, des canapés, des fauteils et du mobilier francais. Sept générations</p>
                <p>se succèdent avec l'unique ambition de perpétuer le design, l'innovation et l'expertise. Un savoir-faire reconnu</p>
                <p>depuis 2006 par le label Entreprise du Patrimoine Vivant.</p>

                <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
            </div>


            <div class="samText">
                <img src="/images/partenaire3.png" alt="" srcset="" class="cosme">

                <p>Arthur Bonnet propose des cuisines sur-mesure d'origine francaise. Arthur Bonnet s'inscrit également dans une </p>
                <p>démarche globale d'éco responsabilité, ils portent une attention particulière à la valorisation de leur déchet, il limite</p>
                <p>également leur rejet de polluant.</p>

                <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
            </div>




                <div class="samText">
                    <img src="/images/partenaire4.png" alt="" srcset="" class="cosme">
    
                    <p>A.bsolument restaure les radios vintage, en leur offrant un système audio Focal.</p>
                    <p>Sa production a lieu exclusivement en France à partir de matières upcyclées.</p>

                    <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
                </div>



                <div class="samText">
                    <img src="/images/partenaire5.png" alt="" srcset="" class="cosme">
    
                    <p>Cosme est une marque créée en 2014 par Baptiste et Alexandre, ils ont repris le savoir-faire familail initié 50 an plus tot</p>
                    <p>en Normandie en y ajoutant leur valeur et leur vision.</p>
                    <p>La literie Cosme, naturelle et concue en France, s'inscrit dans une démarche ou l'humain est placé au centre de chaque</p>
                    <p>Décision</p>
                    <p class="bien">Bienveillance et transparence sont les maitres mots au quotidien.</p>

                    <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
                </div>



                <div class="samText">
                    <img src="/images/partenaire6.png" alt="" srcset="" class="cosme">
    
                    <p>Nous avons choisi Samsung en tant que partenaire électroménager et maison connecté car il propose des éléments très </p>
                    <p>ergonomiques avec une consommation énergétique très basse</p>

                    <a href="#"><p class="savoir">En savoir plus &nbsp; <i class="fa-solid fa-right-long"></i></p></a> 
                </div>
    

            
    </div>
    
{% endblock %}